default_language_version:
  # force all unspecified python hooks to run python3
  python: python3
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: detect-aws-credentials
- repo: https://github.com/psf/black
  rev: 23.3.0
  hooks:
    - id: black
      args: [--line-length=120]
- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks: # imports sorting
    - id: isort
      name: isort (python)
      args: ["--profile", "black"]
