name: New Image Version Tests and Reports
run-name: Image Validation - ${{ inputs.image-version }}
on:
  # Manually call
  workflow_dispatch:
    inputs:
      image-version:
        required: true
        description: Image version to validate=
  # Call from other workflow
  workflow_call:
    inputs:
      image-version:
        type: string
        required: true
defaults:
  run:
    shell: bash -l {0}
jobs:
  get-pr-number:
    runs-on: ubuntu-latest
    name: Get PR Number by title
    outputs:
      pr_id: ${{ steps.get_pr_id.outputs.pr_id }}
    steps:
      - name: Get PR number
        id: get_pr_id
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          PR=$(gh pr list --search "in:title 'release: v${{ inputs.image-version }}'" --json number --jq '.[0].number')
          echo "pr_id=$PR" >> $GITHUB_OUTPUT
  call-codebuild-project:
    runs-on: ubuntu-latest
    needs: get-pr-number
    permissions:
      pull-requests: write
      contents: write
      id-token: write
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.START_CODEBUILD_ROLE }}
          aws-region: us-east-1
          # CodeBuild timeout of 8 hours
          role-duration-seconds: 28800
          audience: https://sts.us-east-1.amazonaws.com
      - name: Run CodeBuild
        uses: dark-mechanicum/aws-codebuild@v1
        env:
          CODEBUILD__sourceVersion: 'pr/${{ needs.get-pr-number.outputs.pr_id }}'
        with:
          projectName: ${{ secrets.CODEBUILD_VALIDATION_JOB_NAME }}
          buildspec: '{"imageOverride": "aws/codebuild/standard:7.0", "imagePullCredentialsTypeOverride": "CODEBUILD"}'
